.wrapper-destacados{
    display: flex;
    gap: 20px;    
}



.article-mid{
    box-sizing: border-box;        
    display: flex;    
    flex-flow: column;
    flex-basis: calc(180px + 5vw);
    flex-grow: 1;     
    background-color: rgba(255, 255, 255, 0);
    gap: 10px;
    align-items: center;     
    padding: 5px;
    -webkit-box-shadow: 0px 6px 14px -1px rgba(222,222,222,0.57); 
    box-shadow: 0px 6px 14px -1px rgba(222,222,222,0.57);
    border-radius: 20px;
    position: relative;
    padding-bottom: 80px;

    .anchor-img{       
        width: 100%;
        display: flex;        
        img{
            margin: auto;
        }
    }
   
    
    &:hover {
        border: 2px solid $color__main;
        padding: 3px;
        padding-bottom: 78px;
    }
    
    
    h3{
        text-align: center;
        width: 80%;
        margin: 0px;
    }
    span{
        text-align: center;
    }

    .primary-button{
       position: absolute;
       width: 70%;
       bottom: 20px;
    }

    .amount{
        display: flex;        
        justify-content: center;
        gap: 5px;
        button{
            border: none;                                
           
        }
        
        input{            
            width: 20%;
            text-align: center;
            border-radius: 5px;
            border: 1px $color__grey-dark solid; 
        }
      
    }
    
    div span{
        font-size: 1.3em;
        font-weight: bolder;
        color: $color__comp;
    }

        
}


.article-max{
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: auto auto auto;
    border-bottom: 1px solid $color__main;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
    h2{
        grid-column: 1 / 4;
        grid-row: 1 / 1;    
        border-bottom: 1px solid $color__main;          
    } 

    .anchor-img{
        padding: 20px;
    }

    .wrap-article-divimg{
        display: flex;        
        grid-column: 1 / 2;
        grid-row: 2 / 2; 
        flex-direction: column;
        align-items: center;             
        .wrap-article-images{
            display: flex;
            margin-top: 10px;         
            justify-content: space-evenly;
            height: 10%;
            width: 100%;
            flex-direction: row;            
        }
            .article-ref{
            font-size: 0.7em;
            align-self: flex-start;
            
        }
    }
    .article-info{
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 2 / 2;         
        }
    
    .article-cart{
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;       
        
        .promo{                 
            margin: auto;
            border: 1px solid $color__main;            
            padding: 10%;
            font-size: 0.8em;
            strong{
                display: block;
            }
            &:nth-child(2){
                border: 1px solid $color__grey-light;
                background-color: $color__grey-light;
            }
        }


        
        .wrap-amount{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;                    
            margin: 30px 0;         
     
            .amount{
                display: flex;        
                justify-content: center;
                gap: 5px;
                button{
                    border: none;                              
                   
                }
                
                input{            
                    width: 20%;
                    text-align: center;
                    border-radius: 5px;
                    border: 1px $color__grey-dark solid; 
                }
            }
            .price{
                font-size: calc(15px + 2vw);
            }
        }        
    }
    .descripcion{
        grid-column: 1 / 4;
        grid-row: 3 / 3;
    }
}

 



@media screen and ($smphone) {

        .wrapper-content{
            padding: 20px;
        }

        .article-mid{
            flex-basis: 80vh;      
            
         }

         .article-max{            
            grid-template-rows: auto auto auto auto;            
            row-gap: 40px;
            margin-bottom: 40px;
            
            h2{
                font-size: 1.5em;
                margin-bottom: -20px;
                text-align: center;
            }

            h4{
                margin: 0;
                margin-bottom: 20px;
            }
             .wrap-article-divimg{
                 grid-column: 1 / 4;
                 grid-row: 2 / 3;                 
                 justify-content: space-between;
                 margin-bottom: 20px;
                 .anchor-img{
                     margin: -30px 0;
                 }
                 .wrap-article-images{
                    width: 80%;
                    img{
                        height: 70px;
                    }
                 }                
             }       
            .article-info{
                font-size: 0.9em;
                grid-column: 1 / 4;
                grid-row: 3 / 4;
                .caracteristicas {
                    margin-bottom: 40px;
                }
            }
                       

            .article-cart{
                font-size: 0.9em;
                grid-column: 1 / 4;
                grid-row: 4 / 5;

                .wrap-amount{
                    margin: 40px 0 30px 0;
                    .amount{
                        input{
                            height: 40px;
                        }
                    }        
                    .price{
                        font-size: 2rem;
                    }      
                }
                .primary-button{
                    font-size: 1.3em;
                    
                    margin-top: -10px;
                }
            }


            .descripcion{
                grid-column: 1 / 4;
                grid-row: 5 / 6;
                margin-bottom: 20px;
                p{
                    font-size: 0.8em;
                    line-height: 16px;
                }
            }
         }
    }

@media screen and (max-width: 1750px) {
    .article-mid{
        max-width: 49%;
        
    } 
    
}

@media screen and (max-width: 1000px) {
    .article-mid{
        max-width: initial;
        
    }
}

@media screen and (min-width: 1750px) {
    .article-mid{
        max-width: 32%;
        
    } 
    
}