.wrapper-destacados{
    display: flex;
    gap: 20px;    
}



.article-mid{
    box-sizing: border-box;        
    display: flex;    
    flex-flow: column;
    flex-basis: calc(180px + 5vw);
    flex-grow: 1;     
    background-color: rgba(255, 255, 255, 0);
    gap: 10px;
    align-items: center;     
    padding: 5px;
    -webkit-box-shadow: 0px 6px 14px -1px rgba(222,222,222,0.57); 
    box-shadow: 0px 6px 14px -1px rgba(222,222,222,0.57);
    border-radius: 20px;
    position: relative;
    padding-bottom: 60px;

    .anchor-img{       
        width: 100%;
        display: flex;        
        img{
            margin: auto;
        }
    }
   
    
    &:hover {
        border: 2px solid $color__main;
        padding: 3px;
        padding-bottom: 58px;
    }
    
    
    h3{
        text-align: center;
        width: 80%;
        margin: 0px;
    }
    span{
        text-align: center;
    }

    .primary-button{
       position: absolute;
       width: 70%;
       bottom: 20px;
    }

    .amount{
        display: flex;        
        justify-content: center;
        gap: 5px;
        button{
            border: none;                                
           
        }
        
        input{            
            width: 20%;
            text-align: center;
            border-radius: 5px;
            border: 1px $color__grey-dark solid; 
        }
      
    }
    
    div span{
        font-size: 1.3em;
        font-weight: bolder;
        color: $color__comp;
    }

        
}


.article-max{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto auto auto;
    
    h3{
        grid-column: 1 / 4;
        grid-row: 1 / 1;    
        border-bottom: 1px solid $color__main;          
    }
   
    .article-ref{
        font-size: 0.7em;
        align-self: flex-start;
        
    }

    .anchor-img{
        padding: 20px;
    }

    .wrap-article-divimg{
        display: flex;        
        grid-column: 1 / 2;
        grid-row: 2 / 2; 
        flex-direction: column;
        align-items: center;             
        .wrap-article-images{
            display: flex;
            margin-top: 10px;         
            justify-content: space-evenly;
            height: 10%;
            width: 100%;
            flex-direction: row;            
        }
    }
    .article-info{
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 2 / 2;         
        }
    
    .article-cart{
        
        display: flex;
        flex-direction: column;
        gap: 10%;
        
        .promo{
            h5{
              margin: 3px 0; 
            }
            border: 1px solid $color__main;
            padding: 6px;
        }

        .wrap-amount{
            display: flex;
            flex-direction: column;
            align-items: center;                    
            gap: 10px;            
     
            .amount{
                display: flex;        
                justify-content: center;
                gap: 5px;
                button{
                    border: none;                              
                   
                }
                
                input{            
                    width: 20%;
                    text-align: center;
                    border-radius: 5px;
                    border: 1px $color__grey-dark solid; 
                }
              
            }
        }        
    }
    .descripcion{
        grid-column: 2 / 4;
        grid-row: 3 / 3;
    }
}


@media screen and ($smphone) {        
        .article-mid{
            flex-basis: 80vh;      
            
         }
    }

@media screen and (max-width: 1750px) {
    .article-mid{
        max-width: 49%;
        
    } 
    
}

@media screen and (max-width: 1000px) {
    .article-mid{
        max-width: initial;
        
    }
}

@media screen and (min-width: 1750px) {
    .article-mid{
        max-width: 32%;
        
    } 
    
}