//mainheader

    //layout


    
header{
    display: grid;    
    grid-template-rows: 40px 40px 40px auto;
    grid-template-columns: 15% 40% auto;
    font-family: "Comfortaa";
    // border: 1px solid $color__main;   

    #user-area {
        * * {
            color: $color__grey-dark;
            text-decoration: none;    
        }

        div:hover *{
            color: $color__main;   
        }
    } 

    #nav-site{
        grid-column: 3 / 4;
        grid-row: 1 / 1;
        font-size: calc(0.65em + 0.2vw);
               
        li{
            color: $color__grey-dark;
            font-weight: bold;
        }

        .icon span{
            color: black !important;
        }
    }
    .logo{        
        display: flex;
        align-self: center;
        grid-column-start: 1;
        grid-row: 1 / 4;        
        div {
            margin: auto;                           
            svg{
                height: calc(40px + 3vw)
            }
        }
    }
    .search-box{
        display: flex;
        min-width: 150px;        
        grid-column: 2 / 3;        
        grid-row: 2 / 2;
        background-color: white;        
        border: 2px solid $color__main;
        input{
            border: $color__main-light;
            margin: auto;
            width: 80%;
        }
    }
    #user-area{
        grid-row-start: 2;
        background-color: $color__main-light;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom-left-radius: 60px;
        margin-left: 10px;        
    }
    .nav-ecommerce{
        grid-column: 1 / 4;
        grid-row: 4 / 4;      
        justify-content: center;             
    }
    #claim{
        grid-row: 3 / 3;
        margin: auto 0;       
    }
}

@media screen and ($smphone) {

    .wrapper-home{
        width: 90% !important;
        margin: auto;
    }

    header{
        font-size: 0.8em;
        grid-template-columns: auto auto auto;
    }
    .search-box{
        grid-column: 1 / 1;
    }

    #nav-site{
        grid-column: 2 / 4 !important;
        height: 30px;
        margin-right: 20px;
        ul li{
            margin: auto;
        }
    }

    #user-area {
        min-width: 90px;

        span{
            display: none;
        }
    }
    #claim{
        display: none;
    }
    .nav-ecommerce{
        
        ul{ 
            justify-content: stretch;                     
            flex-wrap: wrap;            
            li{
                height: 25px;
                font-size: 18px;
                width: 49%;
                margin:1px auto;
            }
        }
    }
   
 }
 




