    @media screen and (max-width: 1300px) {
        .wrapper-content{
            display: block !important;
        }
    }
aside{
    display: none !important;
}


.home {
    h1 ~ *{
        margin-left: 30px;

        @media screen and ($smphone) {
            margin-left: 15px;
        }
    }
    
    
    .wrapper-home{
        width: 50%;
        margin: auto;
    }
}

.wrapper-content {
    display: grid;
    margin: 30px 0;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto;

    aside{
        grid-column: 1 / 1;
        display: flex;
        .wrap-list{
            align-content: flex-start;
            justify-content: flex-end;
            gap: 10px;
        }         
    }

    main{
        grid-column: 2 / 2;           
    }

    
}

.consumibles {
   
    main{
        display: flex;
        margin: auto;
        flex-flow: row wrap;
        justify-content: space-between;
        min-height: 70vh;

        a{
            display: flex;
            flex-direction: column;
            font-size: 1.1em;
            align-items: center;
            justify-content: center;
            border: 1px solid $color__main;
            border-radius: 10px;        
            flex-basis: 49%;
            margin-bottom: 2vh;
            padding: 30px;
            min-height: 25vh;

            .spray-icon{
                height: 90px;
                width: 90px;      
            }

            .accesorios-icon {
                height: 90px;
                width: 90px;                
            }

            img{
                width: 50px;
                height: 50px;
                
            }
        }

        .green{
        
        }

     
    
    }

   @media screen and ($smphone) {
        main{
            flex-direction: column;
            align-items: center;
            grid-column: 1 / 4;            
        
            a{                
                width: 100%;
            }
        }
        aside{             
            display: none;         
            font-size: 0.9em;        
            grid-column: 1 / 4;
            grid-row: 1 / 1;
            .dropdown-list{
                flex-direction: column;
                margin: auto;
                margin-bottom: 40px;
                // justify-content: center;
                align-items: center;                            
            }
        }

        }
}

.familia {
    
    main{
        display: flex;        
        justify-content: space-between;
        flex-wrap: wrap;         

        a{
            display: flex;
            flex-basis: 100%;     
            flex-direction: column;
            font-size: 1.1em;
            align-items: center;
            justify-content: center;
            border: 1px solid $color__main;
            border-radius: 10px;                    
            margin-bottom: 2vh;
            padding: 30px;
            
            img{
                display: none;
            }
        }     
    }

    
   @media screen and ($smphone) {
    main{
        flex-direction: column;
        align-items: center;
        grid-column: 1 / 4;            
    
        a{                
            width: 100%;
        }
    }
    aside{             
        display: none;         
        font-size: 0.9em;        
        grid-column: 1 / 4;
        grid-row: 1 / 1;
        .dropdown-list{
            flex-direction: column;
            margin: auto;
            margin-bottom: 40px;
            // justify-content: center;
            align-items: center;                            
        }
    }

    }
}

.results{

    .wrapper-results{
        display: grid;        
        margin: 30px 0;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: auto auto;

        .wrapper-destacados{
            justify-content: flex-start;
            border-bottom: 1px solid $color__main-light;
            padding-bottom: 40px;     
            
        }
    
        aside{
            grid-column: 1 / 1;
            display: flex;
            .wrap-list{
                align-content: flex-start;
                justify-content: flex-end;
                gap: 10px;
            }         
        }
    
        main{
            grid-column: 2 / 2;           
        }       
    }

    .results-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        position: relative;
        border-bottom: 1px solid $color__main-light;
        margin: 10px 0px;
        font-size: 0.8em;        

       .results-header-number{
            position: absolute;            
        }      

        .results-page{
            align-self: center;
        }

        h3{
            position: absolute;            
        }
        
        ol{
            display: flex;
            justify-self: center;
            flex-direction: row;
            gap: 20px;
            &::after{
                content:">"
            }
            &::before{
                content:"<"
            }
    

    }   

   
    }

    @media ($smphone) {
        
        .wrapper-results{   
            grid-template-columns: 25% 75%;
        }

        aside{
            font-size: 0.7rem;           
        }

        .results-page{
            font-size: 0.7rem;
        }

        .results-header{
            font-size: 0.6em;          

        }

        h3{
            position: initial;            
        }
     
            
        
    }


}
