.home {
    h1 ~ *{
        margin-left: 30px;

        @media screen and ($smphone) {
            margin-left: 15px;
        }
    }
    
    
    .wrapper-home{
        width: 50%;
        margin: auto;
    }
}