@media screen and (max-width: 1000px) {

    .family-menu{
        display: none !important;
    }
    
    .wrapper-content{
        display: block !important;      
    }
    .article-max{
        flex-basis: 60%;       
    }
}

body{
    position: relative;
}

// aside{
//     display: none;
// }


.home {
    h1 ~ *{
        margin-left: 30px;

        @media screen and ($smphone) {
            margin-left: 15px;
        }
    }
    
    
    .wrapper-home{
        width: 50%;
        margin: auto;
    }
}


.wrapper-content {
    display: grid;
    margin: 30px 0;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto;

    aside{
        grid-column: 1 / 1;
        display: flex;
        .wrap-list{
            align-content: flex-start;
            justify-content: flex-end;
            gap: 10px;
        }         
    }

    main{
        grid-column: 2 / 2;           
    }

    
}

.consumibles {
   
    main{
        display: flex;
        margin: auto;
        flex-flow: row wrap;
        justify-content: space-between;
        min-height: 70vh;

        a{
            display: flex;
            flex-direction: column;
            font-size: 1.1em;
            align-items: center;
            justify-content: center;
            border: 1px solid $color__main;
            border-radius: 10px;        
            flex-basis: 49%;
            margin-bottom: 2vh;
            padding: 30px;
            min-height: 25vh;

            .spray-icon{
                height: 90px;
                width: 90px;      
            }

            .accesorios-icon {
                height: 90px;
                width: 90px;                
            }

            img{
                width: 50px;
                height: 50px;
                
            }
        }

        .green{
        
        }

     
    
    }

   @media screen and ($smphone) {
        main{
            flex-direction: column;
            align-items: center;
            grid-column: 1 / 4;            
        
            a{                
                width: 100%;
            }
        }
        aside{             
            display: none;         
            font-size: 0.9em;        
            grid-column: 1 / 4;
            grid-row: 1 / 1;
            .dropdown-list{
                flex-direction: column;
                margin: auto;
                margin-bottom: 40px;
                // justify-content: center;
                align-items: center;                            
            }
        }

        }
}

.familia {
    
    main{
        display: flex;        
        justify-content: space-between;
        flex-wrap: wrap;         

        a{
            display: flex;
            flex-basis: 100%;     
            flex-direction: column;
            font-size: 1.1em;
            align-items: center;
            justify-content: center;
            border: 1px solid $color__main;
            border-radius: 10px;                    
            margin-bottom: 2vh;
            padding: 30px;
            
            img{
                display: none;
            }
        }     
    }

    
   @media screen and ($smphone) {
    main{
        flex-direction: column;
        align-items: center;
        grid-column: 1 / 4;            
    
        a{                
            width: 100%;
        }
    }
    aside{             
        display: none;         
        font-size: 0.9em;        
        grid-column: 1 / 4;
        grid-row: 1 / 1;
        .dropdown-list{
            flex-direction: column;
            margin: auto;
            margin-bottom: 40px;
            // justify-content: center;
            align-items: center;                            
        }
    }

    }
}

.results{

    .wrapper-results{
        display: grid;        
        margin: 30px 0;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: auto auto;

        .wrapper-destacados{
            justify-content: flex-start;
            border-bottom: 1px solid $color__main-light;
            padding-bottom: 40px;     
            
        }
    
        aside{
            grid-column: 1 / 1;
            display: flex;
            .wrap-list{
                align-content: flex-start;
                justify-content: flex-end;
                gap: 10px;
            }         
        }
    
        main{
            grid-column: 2 / 2;           
        }       
    }

    .results-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        position: relative;
        border-bottom: 1px solid $color__main-light;
        margin: 10px 0px;
        font-size: 0.8em;        

       .results-header-number{
            position: absolute;            
        }      

        .results-page{
            align-self: center;
        }

        h3{
            position: absolute;            
        }
        
        ol{
            display: flex;
            justify-self: center;
            flex-direction: row;
            gap: 20px;
            // &::after{
            //     content:">"
            // }
            // &::before{
            //     content:"<"
            // }
    

    }   

   
    }

    @media ($smphone) {

        .article-max{
            flex-basis: 95%;       
        }
            
        .family-menu {
            display: none !important;
            font-size: 2em;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9999;
            background-color: rgb(255, 255, 255);    
            height: 100%;
            width: 100%;
            display: flex;
            align-items: baseline;            
            .wrap-list{
                margin: 15% 0 0 5px;      
                display: flex;
                flex-flow: column wrap; 
              
                .dropdown-item div{                        
                        display: flex;
                        align-items: center;
                        justify-content: center;                      
                    }                    
                                     
                    
                    .parent{
                        height: 40px;
                        width: 40px;                        
                    }             
                }
                .visible {
                   margin-left: 40px; 
                }
            
        }

        .wrapper-results{   
            grid-template-columns: 25% 75%;
        }

        aside{
            font-size: 0.7rem;           
        }

        .results-page{
            font-size: 0.7rem;
        }

        .results-header{
            font-size: 0.6em;          

        }

        h3{
            position: initial;            
        }
     
            
        
    }


}


.quienes_somos{

    background-color: white;
    
    header{
        background-color: rgba(236, 228, 228, 0.87);
    }
    p{
        line-height: 30px;
    }
    .wrapper_video-background{
        position: relative;    
        
        .video-background{
            position: fixed;            
            background-position: center;
            z-index: -1;
            top: 0;
            height: 50vh;
            width: 100%;
            background: url(https://public.gaolos.com/cdn/public/intecsum/img/maquinaria-de-segunda-mano.jpg) no-repeat;
            background-size: cover;
            filter: blur(0.1rem);                       
        }

        .separador{
            position: relative;
            background-color: rgba(240, 255, 240, 0);
            grid-row: 1 / 1;
            grid-column: 1 / 1;
            display: block;
            position: relative;
            height: 20vh;
            width: 100%;
            border-bottom: 5px solid $color__main;
            
            &::after{
                content:"";
                position: absolute;
                width: 100%;
                bottom: -25px;                                      
                border-bottom: 3px solid $color__main;
            }
            
            // background-color: rgb(0, 0, 0);
        }     
    }

    .wrapper-quienes_somos{
        background-color: white;
        width: 100%;
        padding-top: 40px;
        main{ 
            background-color: none;
            width: 100%;
            padding: 0 15px;
            margin: auto;

            section{
                border-bottom: 1px solid $color__main-light;
            }

            section:nth-child(2n){            
                background-color: $color__main-light;
            }
            section:last-child{            
                background-color: white;
                border: none;
            }
            .wrapping-section{
                padding: 20px;
                margin: auto;
                width: 60%;
            }
        }
    }
        
    @media screen and ($smphone){

        .wrapping-section{
            padding: 10px;            
            width: 90% !important;
        }

        .separador{
            height: 15vh !important;
        }    
        
        .wrapper_video-background{            
            .video-background{
                background-size: cover !important;
                width: 150%;
                height: 65vh;
            }
        }
    }

}

.login{
    display: grid;
    grid-template-columns: 25% 50% auto;
    grid-template-rows: auto auto auto;
    justify-items: stretch;
    gap: 40px;

    header{
        .logo{            
            position: absolute;
            right: 0px;
            left: 0px;
            top: 10px
        }   
    }

    .smallhr{
        width: 100%;
        border: 1px dashed $color__main-light;
        margin: 40px 0;
    }


    aside{        
    grid-column: 1 /2;
    display: flex;
    padding: 3vw;
    margin: 0 20px;
    border-radius: 15px;
    height: 400px;
    background-color: $color__grey-light;
    overflow: clip;
    ul{
        display: flex;  
        flex-direction: column;
        gap: 10px;           
    }
    }

    main{
        
        .forgotPass{
            margin-top: 20px;
            display: block;
            text-align: center;
            color: grey;
        }

        button{
            width: 100% !important;
        }
        
        
        h3{
            margin-bottom: 60px;
        }
        
        .form-check-input:checked{
            background-color: $color__main;
            border: 1px solid $color__main;
        }
        
        border-left: 1px solid $color__main;
        padding: 1vw 5vw;
        margin: auto;
        grid-column: 2 / 3;
        width: 100%;
        .input-group span, .input-group label {
            margin-bottom: 10px;
        } 

        .separator{
            margin: 80px;
            display: flex;            
            justify-content: center;
            align-items: center;
            position: relative;
            p{
                margin: auto;
                padding: 10px;
                background-color: white;
            }        

            &:before{ 
                position: absolute; 
                z-index: -1;              
                content: "";
                height: 1px;
                width: 80%;
                border: 1px solid $color__main
            }
        }

        .empresaAutonomo{
            display: flex;
            flex-direction: column;
        }   
    }

    @media screen and ($smphone) {
        display: block;

        main{
            width: 100%;
            padding: 5px;
        }

        aside{
            height: auto;
            margin-bottom: 40px;
        }
    }
}

.cardProcess{    
    display: grid;
    padding: 1vw 2vw;   
    gap: 40px;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: auto auto auto auto;   
    
    .steps-wrapper{
        grid-column: 2 / 4;
        grid-row: 1 / 1;
        display: flex;
        justify-content: space-evenly;
    }  
    main{
        grid-column: 1 / 3;               
    }

    .order-summary-wrapper{                
        display: flex;
        flex-direction: column;             
        grid-column: 3 / 4;        
        padding: 20px;
        width: 80%;
        height: 80%;
        background-color: $color__grey-light;
        border-radius: 15px;
        .order-summary{            
            padding: 1vw;
            width: 100%;
        }
        .buttons{            
            text-align: center;
            display: flex;            
            flex-wrap: wrap;
            margin-top: auto;
            justify-content: center;
            button{
                width: 200px;
                height: 60px;
                a{
                    text-decoration: none;                    
                }
            }
            .secondary-button{
                background-color: rgba(255, 255, 255, 0);
                border: none;
                a{
                    font-weight: lighter;
                }
                &:hover a{
                    color: $color__grey-dark
                }
            }         
        }
    }
    
    ol{
        padding: 0 !important;
    }
           
    .steps {
        font-size: calc(10px + 0.5vw);
        a{
            text-decoration: none;
        }
        
        display: flex;                                   
        align-items: flex-end;
    
        li{              
            text-align: center;
            flex-basis: 200px;
            .stepNumber{                    
                position: relative;
                margin-top: 10px;                    
                &:before{
                    content:"";
                    position: absolute;
                    top: -5px;
                    width: 105%;                        
                    border: 2px solid  $color__main;
                    border-radius: 40px;                       
                    }
            }              
            
        }
        li{
            display: flex;
            height: calc(50px + 8vw);
            max-height: 160px;
            flex-direction: column;            
            align-content: center;
            justify-content: flex-end;
            position: relative;
            i{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                font-size: 3em;
            }            
        }

        span{
            display: flex;
            flex-direction: column;            
            flex-wrap: wrap;
            align-items: center;         
        }

        .stepUnactive *, .stepUnactive .stepNumber:before{
            color: rgb(207, 204, 204);
            z-index: -1;
            border-color: $color__grey-light !important;
        }

    }
  

    @media screen and (max-width: 1000px){
        
        display: flex;        
        flex-direction: column;            
        .order-summary-wrapper{            
            width: 100%;
            .buttons{
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                .primary-button{
                    order: -1;
                }
               
                button{
                    width: 100%;
                }                            
            }            
        }

        @media screen and ($smphone) {        
            .steps{        
                font-size: 0.65em;
            }
    

        }
    }
}


.cardProcess_step2{   
    
    main{
        grid-column: 1 / -1;
    }
    
    .adresses-wrapper{
        display: flex;
        flex-direction: column;       
    }
    .recent-adress-wrapper{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row !important;
     justify-content: flex-start;
     position: relative;
     gap: 40px;
   
     .recent-adress-item{              
        
        flex-basis: 500px;
         border: 1px solid $color__main-light;
         border-radius: 10px;
         padding: 10px;
         button{width: 100%;}
         .form-control-header{
             background-color: white;
             border: none;
             color: black;
             font-weight: bolder;
             margin-left: -15px;
             &::placeholder{
                color: black !important;
                font-weight: bolder;
             }            
         }
     }
    }    
    .aside-new-adress{                    
        grid-column: 1 / -1;
        grid-row: -1 ;  
        
        .recent-adress-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 90%;
        
        button{width: 50%;}
        }
        
    }

    @media screen and ($smphone) {
        .recent-adress-wrapper{
            justify-content: center;
       }
        .aside-new-adress button {button{width: 100%
        
        }}
        
    }
}


.cardProcess_step3{
    main{
        padding: 80px;
    }

    .order-summary-wrapper{                
        display: flex;
        flex-direction: column;            
        grid-column: 3 / 4;
        grid-row: 2 / 2;      
        padding: 20px;
        width: 80%;
        height: 25% !important;            
        border-radius: 15px;
        .order-summary{            
            padding: 1vw;
            width: 100%;
        }
        .buttons{            
            text-align: center;
            display: flex;            
            flex-wrap: wrap;
            margin-top: auto;
            justify-content: center;
            button{
                width: 200px;
                height: 60px;
                a{
                    text-decoration: none;                    
                }
            }
            .secondary-button{
                background-color: rgba(255, 255, 255, 0);
                border: none;
                a{
                    font-weight: lighter;
                }
                &:hover a{
                    color: $color__grey-dark
                }
            }         
        }
    }
    

    .recent-adress-item{        
        margin: auto;
    }

    .form-check-input:checked{
        background-color: $color__main !important;
        border: 1px solid $color__main !important;
    }
    width: 100%;
    
    .payment-method{
        margin-top: 100px;
        h3{
            margin-bottom: 20px;
        }

         .empresaAutonomo{
            display: flex;
            flex-direction: column;
            .form-check{
                margin-bottom: 10px;                
            }
        }  
    }
   
}