//dropdown lists

.wrap-list{
    
    display: flex;    
    justify-content: space-evenly;
    flex-flow: column wrap;
}  




@media screen and ($smphone) {
    .wrap-list {
        height: auto;
        gap: 5px;       
    }
}