$color__main:#94B82F;
$color__main-light: #C9D990;
$color__comp: complement($color__main);
$color__comp-light: complement($color__main-light);

$color__grey-light: #F3F3F3;
$color__grey-dark: #707070;



$color__icon-medium-light: $color__main;



