$font__normal: 'Roboto', sans-serif;
$font__headings: 'Comfortaa', sans-serif;
$font_highlights: 'Comfortaa', sans-serif;


h1,h2,h3, .primary-button{
    font-family: 'Comfortaa';
    color: $color__grey-dark;
}

.price{
    color: $color__comp;
}


span, li, a {
    font-family: 'Roboto';
    color: $color__grey-dark;
}

#nav-ecommerce ul li {
    color:white;
    font-weight: bolder;
    font-size: 1.6em;   
}

#claim span{
    font-weight: bold;
    color: $color__main;
}

.icon{
    font-family: 'Times New Roman', Times, serif;    
}

.dropdown-button{
    i{
        font-family: 'Times New Roman', Times, serif;
    }

    & ~ span{
        color: $color__grey-medium;
    } 
    
}

#nav-site{
    li{
        font-family: "Comfortaa"
    }
}