$font__normal: 'Roboto', sans-serif;
$font__headings: 'Comfortaa', sans-serif;
$font_highlights: 'Comfortaa', sans-serif;


h1,h2,h3, .primary-button{
    font-family: 'Comfortaa';
}




span {
    font-family: 'Roboto';
}